@{
}
@section page_css{
	<link rel="stylesheet" href="~/css/_assistance.css" asp-append-version="true" />
}
<div class="login-page">
	<div class="form">
		<form asp-controller="Assistance" asp-action="Confirmed" method="post">
  <div class="form-group">
    <label for="string">Inserisci qui il codice presente sulla bici:</label>
    <input type="text" class="form-control" id="Id" name="Id">
  </div>


    <select class="form-select" aria-label="Default select example">
      <option selected>Seleziona il tipo di problema:</option>
      <option value="1">Un pezzo della bici si è rotto</option>
      <option value="2">Non riesco più a connettermi</option>
      <option value="3">Altro</option>
    </select>

      <button type="submit" class="btn btn-default">Submit</button>
</form>
	</div>
</div>