@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<form asp-controller="Assistance" asp-action="Confirmed" method="post">
  <div class="form-group">
    <label for="string">Inserisci qui il codice presente sulla bici:</label>
    <input type="text" class="form-control" id="Id" name="Id">
  </div>
    @ViewData["Error"]

    <select class="form-select" aria-label="Default select example">
      <option selected>Seleziona il tipo di problema:</option>
      <option value="1">Un pezzo della bici si è rotto</option>
      <option value="2">Non riesco più a connettermi</option>
      <option value="3">Altro</option>
    </select>

      <button type="submit" class="btn btn-default">Submit</button>
</form>

